<html>
<head>
    <meta charset="UTF-8">
    <title>주문 목록</title>
    <link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet">
    <script src="/BookMarket/js/controllers.js"></script>
</head>
<body>
<div class="container py-4">
     <th:block th:replace="~{/module/header}"></th:block>


    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">주문 목록</h1>
            <p class="col-md-8 fs-4">BookMarket</p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="text-end" style="padding-right:30px">
            <form action="/BookMarket/logout" method="POST">
                <input type="submit" class="btn btn-success" value="logout">
            </form>
            <a href="/order/deleteAll" class="btn btn-danger" style="float:left">전체삭제</a>
        </div>
    </div>

    <div style="padding-top: 50px">
        <div class="text-end" style="padding-right:30px">전체 주문수 : [[${totallines}]]건</div>
        <table class="table table-hover">
            <tr>
                <th><a th:href="@{'/order/page?pageNum=' + ${currentPage} + '&sortField=orderId&sortDir=' + ${reverseSortDir}}">1</a></th>
                <th><a th:href="@{'/order/page?pageNum=' + ${currentPage} + '&sortField=customer.id&sortDir=' + ${reverseSortDir}}">2</a></th>
                <th><a th:href="@{'/order/page?pageNum=' + ${currentPage} + '&sortField=shipping.address.addressname&sortDir=' + ${reverseSortDir}}">3</a></th>
                <th><a th:href="@{'/order/page?pageNum=' + ${currentPage} + '&sortField=grandTotal&sortDir=' + ${reverseSortDir}}">4</a></th>
                <th>5</th>
            </tr>
            <form name="removeForm" id="removeForm" method="post">
                <input type="hidden" name="_method" value="delete">
                <div th:each="order : ${orderList}">
<tr>
    <td th:text="${order.orderId}">X</td>
    <td th:text="${order.customer.id}">X</td>
    <td th:text="${order.shipping.address.addressname}">X</td>
    <td th:text="${order.grandTotal}">X</td>
    <td>
        <ul>
            <li th:each="item : ${order.orderItems.values()}">
                <span th:each="book : ${bookList}"
                      th:if="${book.bookId == item.bookId}"
                      th:text="${book.name}">도서명</span>
                (<span th:text="${item.quantity}">수량</span>권)
            </li>
        </ul>
    </td>
    <td>
        <a th:href="@{'/order/view/' + ${order.orderId}}"><span class="badge text-bg-secondary">상세보기</span></a>
        <a th:href="@{'/order/edit/' + ${order.orderId}}"><span class="badge text-bg-info">수정</span></a>
        <a th:href="@{'/order/delete/' + ${order.orderId}}"><span class="badge text-bg-danger">삭제</span></a>
    </td>
</tr>

                </div>
            </form>
        </table>
        <div>&nbsp;</div>
        <div>Sorted by [[${sortField}]] in [[${sortDir}]] order</div>
        <div>&nbsp;</div>
    </div>

    <th:block th:replace="~{/module/footer}"></th:block>
</div>
</body>
</html>
